.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.header {
  margin: auto;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (width<1000px) {
    display: flex;
    flex-direction: column;
  }
}
